#first-section {
    background: #7f69fb;
    position: relative;
    height: 750px;
}

svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
}
  
h1 {
    text-align: center;
}

.logo {
    font-size: 22px;
    color: whitesmoke;
    padding: 10px;
}